.c-cta-bar {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    padding: 4rem 2rem 5rem;
    background-color: c(darkBlue);

    @include media-breakpoint-up(lg) {
        padding-right: 10rem;
        padding-left: 10rem;
    }

    &__content {
        position: relative;
        z-index: z(hill);
    }

    &__graphic {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 25.5rem;
        height: 37.5rem;

        @include media-breakpoint-up(md) {
            width: 38rem;
            height: 56.5rem;
            top: -5rem;
            left: -4rem;
        }
    }

    .c-section-heading * {
        color: c(white);
    }

    &__button {
        margin-top: 3rem;
    }
}
