.layout-dots {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -0.2rem;
    transition: all ease 400ms;

    .c-dot {
        position: relative;
        padding: 0.2rem;
        border: 0.2rem solid transparent;
        background-color: transparent;
        width: 1.8rem;
        height: 1.8rem;
        margin: 0.1rem 0;
        transition: background-color ease 400ms, border ease 400ms;
        border-radius: 100%;

        &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 100%;
            background-color: c(white);
        }

        &.js-is-active {
            border: 0.2rem solid c(white);
        }

        &:not(.js-is-active) {
            @include mobile-hover {
                background-color: c(white);
            }
        }

        &.js-is-completed {
            background-color: c(white);
        }
    }
}
