.c-featured-product {

    .grid-tab-content > & {

        $cols: 2;
        $margin: 6rem;

        width: 100%;
        margin-bottom: 6rem;

        &:last-child {
            margin-bottom: 0;

            &:only-child {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @include media-breakpoint-up(lg) {
            width: calc( 100% / #{$cols} - #{$margin} / #{$cols} );
            margin-top: auto;
            margin-right: #{$margin};

            @for $i from 1 through $cols {
                &:nth-last-child(#{$i}):not(:nth-child(#{$cols}n)) {
                    margin-bottom: 0;
                }
            }

            &:nth-child(#{$cols}n) {
                margin-right: 0;
            }
        }

        @include media-breakpoint-up(xl) {

            $margin: 14rem;

            width: calc( 100% / #{$cols} - #{$margin} / #{$cols} );
            margin-right: $margin;
        }
    }

    &__top {
        padding-bottom: 1.2rem;
        border-bottom: solid 6px c(medium-gray);
    }

    &__content {
    }

    &__name {
        font-size: 2rem;
        color: c(darkBlue);
    }

    &__bottom {
        margin-top: 2rem;
    }

    &__rate {
        color: c(darkBlue);
        font-size: 7.2rem;
        font-weight: weight(black);
        line-height: 1;
        font-size: 4.8rem;

        @include media-breakpoint-up(lg) {
            font-size: 5.2rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 6.2rem;
        }
    }

    &__category {
        font-size: 4.8rem;
        color: c(blue);
        margin-bottom: 0.3rem;
    }

    &__link {
        display: block;
        color: c(blue);
        text-transform: uppercase;
        margin-top: 2.5rem;
        font-weight: weight(bold);

        @include media-breakpoint-up(lg) {
            margin-top: 3rem;
        }
    }
}
