.c-location {
    &__social {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        margin: 1.2rem 0 3rem;

        svg {
            width: 2.8rem;
        }

        img {
            width: 2.8rem;
            height: auto;
        }

        a {
            color: c(primary);
            display: inline-block;
            overflow: hidden;
            @include mobile-hover {
                svg,
                use {
                    color: c(blue);
                }
            }
            & + a {
                margin-left: 2rem;
            }
        }
    }
}
