.layout-page-content {
    padding: 8rem 0 9.5rem;
    background-color: c(light-gray);

    &__article {
        @include media-breakpoint-up(lg) {
            padding-right: 3rem;
        }
    }
}

.layout-post-content {
    padding: 8rem 0 9.5rem;
    background-color: c(white);
}
